
@* @model Portfolio.Pages.Shared.Navigation.HeaderModel *@
@{

   

    <header class="header">
        <div class="header__logo-box">
            <img src="img/face-id.jpg" alt="Logo" class="header__logo">
        </div>

        <div class="header__text-box">
            <h1 class="heading-primary">
                <span class="heading-primary--main">FullStackDev</span>
                <span class="heading-primary--sub">Bernard Caronan</span>
            </h1>

            <a href="#section-about" class="btn btn--white btn--animated">About Me</a>
        </div>
    </header>

}
