@{
    ViewData["Title"] = "Home Page";
}

<main>
    <section class="section-about" id="section-about">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
            </h2>
        </div>
        <div class="u-center-text">
            <h2 class="heading-secondary">
                Objectives
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-1">
                <h3 class="heading-tertiary u-margin-bottom-small"></h3>
                <p class="paragraph">
                    Hi! I began my career as an IT Support and Network Technician, where I learned the importance of problem-solving, teamwork, and keeping systems running smoothly. Along the way, I discovered my passion for building things — not just fixing them — which inspired me to shift my career into full-stack development.
              </br>
                    Now, with over 3 years of experience as a Full-Stack Developer, I enjoy creating clean, efficient, and user-friendly web applications using ASP.NET Core, React, TypeScript, and SQL Server. I love turning ideas into working solutions and continuously learning new technologies to improve my craft.
                </p>

                @* <h3 class="heading-tertiary u-margin-bottom-small">Live adventures like you never have before</h3> *@
                @* <p class="paragraph"> *@
                @*     Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores nulla deserunt voluptatum nam. *@
                @* </p> *@

                @* <a href="#" class="btn-text">Learn more &rarr;</a> *@
            </div>
        </div>
     
        <div class="u-center-text u-margin-bottom-small">
            <h2 class="heading-secondary">
                Work Experience
            </h2>
        </div>


        @await Component.InvokeAsync("ExpLists", new { count = 9 })






    </section>

    <div class=" u-center-text" style="background-color:  #f7f7f7;">
       
            <h2 class="heading-secondary u-margin-bottom-small">Tech Skills</h2>
            <p class="paragraph">
                <i class="fab fa-html5"><span style="color:darkgreen">HTML<span /></i>
            <i class="fab fa-css3-alt"> <span style="color:darkgreen">CSS<span /></i>
            <i class="fas fa-code"> <span style="color:darkgreen">C#<span /></i>
            <i class="fab fa-react"> <span style="color:darkgreen">React Js<span /></i>
            </p>
            <p class="paragraph">
            <i class="fas fa-laptop-code"> <span style="color:darkgreen">ASP.net<span /></i>
            <i class="fas fa-database"> <span style="color:darkgreen">SQL<span /></i>   <!-- SQL -->
            <i class="fas fa-coffee"> <span style="color:darkgreen">Java<span /></i>  <!-- Java -->

            <i class="fas fa-network-wired"> <span style="color:darkgreen">CCNA (Expired)<span /></i> <!-- CCNA -->
            </p>
       
    </div>

    <section class="section-tours" id="section-tours">
        <div class="u-center-text u-margin-bottom-big">
            <h2 class="heading-secondary">
                Projects
            </h2>
        </div>

        <div class="row">
            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--1">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--1">Attendance App</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li>Log In</li>
                                <li>Use EmployeeId: 4</li>
                                <li>Password: 123</li>
                                <li>Wait for a couple of minutes due to a free domain</li>
                                <li>Create Leave</li>
                                <li>Create Attendance</li>
                            </ul>
                        </div>
                    </div>
                    <div class="card__side card__side--back card__side--back-1">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only"></p>
                                <p class="card__price-value">Check</p>
                            </div>
                            <a href="#popup" class="btn btn--white">Details</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--2">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--2">Number To Word Converter</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li></li>
                                <li>Convert Number</li>
                            </ul>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-2">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only"></p>
                                <p class="card__price-value">Check</p>
                            </div>
                            <a href="#popup1" class="btn btn--white">Details</a>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-1-of-3">
                <div class="card">
                    <div class="card__side card__side--front">
                        <div class="card__picture card__picture--3">
                            &nbsp;
                        </div>
                        <h4 class="card__heading">
                            <span class="card__heading-span card__heading-span--3">Number Game</span>
                        </h4>
                        <div class="card__details">
                            <ul>
                                <li></li>

                            </ul>
                        </div>

                    </div>
                    <div class="card__side card__side--back card__side--back-3">
                        <div class="card__cta">
                            <div class="card__price-box">
                                <p class="card__price-only"></p>
                                <p class="card__price-value">Check</p>
                            </div>
                            <a href="#popup2" class="btn btn--white">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="u-center-text u-margin-top-huge">
            <a href="#" class="btn btn--green">Home</a>
        </div>
    </section>
    <section>
        <div>
            <a href="https://github.com/burncar" target="_blank">
                <img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" width="30" height="30">
            </a>
        </div>
     <div>
            <a href="https://www.linkedin.com/in/bernard-caronan" target="_blank">
                <i class="fa-brands fa-linkedin" style="font-size: 40px; color: #0077b5;"></i>
            </a>

     </div>

    </section>

    @* <section class="section-stories"> *@
    @*     <div class="bg-video"> *@
    @*         <video class="bg-video__content" autoplay muted loop> *@
    @*             <source src="img/video.mp4" type="video/mp4"> *@
    @*             <source src="img/video.webm" type="video/webm"> *@
    @*             Your browser is not supported! *@
    @*         </video> *@
    @*     </div> *@

    @*     <div class="u-center-text u-margin-bottom-big"> *@
    @*         <h2 class="heading-secondary"> *@
    @*             We make people genuinely happy *@
    @*         </h2> *@
    @*     </div> *@

    @*     <div class="row"> *@
    @*         <div class="story"> *@
    @*             <figure class="story__shape"> *@
    @*                 <img src="img/nat-8.jpg" alt="Person on a tour" class="story__img"> *@
    @*                 <figcaption class="story__caption">Mary Smith</figcaption> *@
    @*             </figure> *@
    @*             <div class="story__text"> *@
    @*                 <h3 class="heading-tertiary u-margin-bottom-small">I had the best week ever with my family</h3> *@
    @*                 <p> *@
    @*                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur *@
    @*                     ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero *@
    @*                     repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. *@
    @*                 </p> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@

    @*     <div class="row"> *@
    @*         <div class="story"> *@
    @*             <figure class="story__shape"> *@
    @*                 <img src="img/nat-9.jpg" alt="Person on a tour" class="story__img"> *@
    @*                 <figcaption class="story__caption">Jack Wilson</figcaption> *@
    @*             </figure> *@
    @*             <div class="story__text"> *@
    @*                 <h3 class="heading-tertiary u-margin-bottom-small">WOW! My life is completely different now</h3> *@
    @*                 <p> *@
    @*                     Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, ipsum sapiente aspernatur libero repellat quis consequatur *@
    @*                     ducimus quam nisi exercitationem omnis earum qui. Aperiam, ipsum sapiente aspernatur libero *@
    @*                     repellat quis consequatur ducimus quam nisi exercitationem omnis earum qui. *@
    @*                 </p> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@

    @*     <div class="u-center-text u-margin-top-huge"> *@
    @*         <a href="#" class="btn-text">Read all stories &rarr;</a> *@
    @*     </div> *@
    @* </section> *@

    @* <section class="section-book"> *@
    @*     <div class="row"> *@
    @*         <div class="book"> *@
    @*             <div class="book__form"> *@
    @*                 <form action="#" class="form"> *@
    @*                     <div class="u-margin-bottom-medium"> *@
    @*                         <h2 class="heading-secondary"> *@
    @*                             Start booking now *@
    @*                         </h2> *@
    @*                     </div> *@

    @*                     <div class="form__group"> *@
    @*                         <input type="text" class="form__input" placeholder="Full name" id="name" required> *@
    @*                         <label for="name" class="form__label">Full name</label> *@
    @*                     </div> *@

    @*                     <div class="form__group"> *@
    @*                         <input type="email" class="form__input" placeholder="Email address" id="email" required> *@
    @*                         <label for="email" class="form__label">Email address</label> *@
    @*                     </div> *@

    @*                     <div class="form__group u-margin-bottom-medium"> *@
    @*                         <div class="form__radio-group"> *@
    @*                             <input type="radio" class="form__radio-input" id="small" name="size"> *@
    @*                             <label for="small" class="form__radio-label"> *@
    @*                                 <span class="form__radio-button"></span> *@
    @*                                 Small tour group *@
    @*                             </label> *@
    @*                         </div> *@

    @*                         <div class="form__radio-group"> *@
    @*                             <input type="radio" class="form__radio-input" id="large" name="size"> *@
    @*                             <label for="large" class="form__radio-label"> *@
    @*                                 <span class="form__radio-button"></span> *@
    @*                                 Large tour group *@
    @*                             </label> *@
    @*                         </div> *@
    @*                     </div> *@

    @*                     <div class="form__group"> *@
    @*                         <button class="btn btn--green">Next step &rarr;</button> *@
    @*                     </div> *@
    @*                 </form> *@
    @*             </div> *@
    @*         </div> *@
    @*     </div> *@
    @* </section> *@
</main>

<div class="popup" id="popup">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/a.png" alt="Tour photo" class="popup__img">
            <img src="img/a.png" alt="Tour photo" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Attendance App</h2>
            <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Application Details</h3>
            <p class="popup__text">
                The Attendance Management System is a full-stack web application designed to efficiently track and manage employee 
                attendance records. The system allows administrators to record daily attendance, manage team members, and generate attendance-related reports through an intuitive and responsive interface.
                Technology Stack:

            </p>
            <p>
                Frontend: React (TypeScript), SCSS, Axios, and Bootstrap for responsive UI.

                Backend: ASP.NET Core 8 Web API with Entity Framework Core and SQL Server.

                Architecture: Follows Repository-Service pattern with Dependency Injection for scalability and maintainability.

                Deployment: Deployed via Render (frontend) and Railway/Render (backend).
            </p>
            <a href="https://attendancefront.onrender.com/" class="btn btn--green">Demo</a>
        </div>
    </div>
</div>

<div class="popup" id="popup1">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/nat-6.jpg" alt="Tour photo" class="popup__img">
            <img src="img/nat-12.jpg" alt="Tour photo" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Number To Word Convert</h2>
            <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Application Details</h3>
            <p class="popup__text">
                The Number to Word Converter is a simple ASP.NET Core web application that converts numeric values into their corresponding English word representations. It provides a lightweight and user-friendly interface where users can input any number and instantly get its word equivalent.
            </p>
            <p>
                Technology Stack:

                Backend: ASP.NET Core 8 Web API

                Frontend (optional): Razor Pages or minimal HTML/CSS interface

                Core Logic: C# number-to-words conversion algorithm
            </p>
            <a href="https://numbertowords.onrender.com" class="btn btn--green">Demo</a>
        </div>
    </div>
</div>

<div class="popup" id="popup2">
    <div class="popup__content">
        <div class="popup__left">
            <img src="img/nat-7.jpg" alt="Tour photo" class="popup__img">
            <img src="img/nat-13.jpg" alt="Tour photo" class="popup__img">
        </div>
        <div class="popup__right">
            <a href="#section-tours" class="popup__close">&times;</a>
            <h2 class="heading-secondary u-margin-bottom-small">Portfolio</h2>
            <h3 class="heading-tertiary u-margin-bottom-small">Important &ndash; Application Details</h3>
            <p class="popup__text">
                The Number Sorting Game is an interactive web-based game built using HTML, CSS, and JavaScript, where players are challenged to arrange a set of random numbers in order from highest to lowest. The game enhances logical thinking and quick decision-making skills through a simple yet engaging interface.
            </p>
            <p>
                Technology Stack:

                Frontend: HTML, CSS, JavaScript

                Core Logic: JavaScript for random number generation, sorting, and user interaction
            </p>
            <a href="https://number-game-ebon.vercel.app/" class="btn btn--green">Demo</a>
        </div>
    </div>
</div>



